@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #fff;
  color: #f1f5f9
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


/* hover code from shopify */

figure {
  /* display: inline-block; */
  /* overflow: hidden; */
  position: relative;
}

figure.hover-effect {
  /* background: rgba(0, 0, 0, 0.7); */
  margin: 0;
}

figure img {
  /* display: block; */
  transition: .5s ease-in-out;
}

figurecaption {
  position: absolute;
  top: 0;
  left: 0;
}

figure.hover-effect .caption-container {
  width: 220px;
  opacity: 0;
  padding-top: 1.25rem;
  padding-left: 1.6rem;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate3d(0,20px,0);
  transition: opacity 1s,transform 1s;
  text-align: left;
  color: #fff;
}

figure.hover-effect:hover .caption-container {
  opacity: 1;
  transform: translate3d(0,0,0);
}

figure.hover-effect:hover > img {
  filter: brightness(0.5);
}